.profile__image{
  grid-area: image;
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 550px) {
  .profile__image{
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
}
