.footer__copyright{
  color: #545454;
  font-size: 1.125rem;
  line-height: 1.36125;
  margin: 67px 0 60px;
}

@media screen and (max-width: 767px) {
  .footer__copyright{
    font-size: 1rem;
    line-height: 1.125;
    margin: 55px 0 50px;
  }
}

@media screen and (max-width: 550px) {
  .footer__copyright{
    font-size: 0.875rem;
    line-height: 1.21;
    margin: 48px auto 36px;
    max-width: 88.125%;
  }
}
