.popup__button-close{
  border: none;
  background-image: url("../../../image/button/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__button-close:hover{
  opacity: 60%;
  transition: 0.4s;
}

@media screen and (max-width: 550px) {
  .popup__button-close{
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
